* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  min-height: 100%;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(34, 0, 34);
}

.App > section {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-width: 100vh;
  min-height: 100vh;
}

.sign-in {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.messages {
  width: 100%;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message {
  width: 100%;
  display: flex;
  align-items: center;
}

.message img {
  border-radius: 50%;
  height: 40px;
}

.message p {
  color: white;
  padding: 10px;
  border-radius: 15px;
  margin: 5px 5px;
}

.sent p {
  background-color: rgb(0, 97, 0);
}

.sent {
  justify-content: flex-end;
  margin-right: 30px;
}

.sent img {
  order: 2;
}

.received {
  justify-content: flex-start;
  margin-left: 30px;
}

.received p {
  background-color: rgb(1, 1, 184);
}

.message-input {
  width: 100%;
}

.messages:last-child {
  margin-bottom: 75px;
}

form {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  margin: 20px 0px;
  position: fixed;
  bottom: 0;
}
