* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(59, 47, 47);
  min-height: 100vh;

}

.App > section {
  width: 100%;
  background-color: rgba(21, 5, 41, 0.794);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-width: 100vh;
  min-height: 100vh;

}

.messages {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message {
  width: 100%;
  display: flex;
  align-items: center;
}

.message img {
  border-radius: 50%;
  height: 40px;
}

.message p {
  color: white;
  padding: 10px;
  border-radius: 15px;
  margin: 5px 5px;
}

.sent p {
  background-color: green;
}

.sent {
  justify-content: flex-end;
}

.sent img {
  order: 2;
}

.received {
  justify-content: flex-start;
}

.received p {
  background-color: rgb(1, 1, 184);
}

.message-input {
  width: 100%;
}

.messages:last-child {
  margin-bottom: 75px;
}

form {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  width: 80%;
  position: fixed;
  bottom: 0;
}
